<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Expense Dashboard</title>
</head>
<body>
	<nav>
		<ul>
			<li>Dashboard</li>
			<li>Search</li>
		</ul>
	</nav>
	<div id="current-week-expense">
		<p>Current Week Expense</p>
		<p th:text="${currentWeekExpense}"></p>
		<form action="#" th:action="@{/users/{id}/expense/filter(id=${userId}, fromDate=${thisWeek}, toDate=${today})}">
			<input type="hidden" th:name="fromDate" th:value="${thisWeek}" />
			<input type="hidden" th:name="toDate" th:value="${today}" />
			<input type="submit" />
		</form>
	</div>
	<div id="current-month-expense">
		<p>Current Month Expense</p>
		<p th:text="${currentMonthExpense}"></p>
		<form  action="#" th:action="@{/users/{id}/expense/filter(id=${userId}, fromDate=${thisMonth}, toDate=${today})}">
			<input type="hidden" th:name="fromDate" th:value="${thisMonth}" />
			<input type="hidden" th:name="toDate" th:value="${today}" />
			<input type="submit" />
		</form>
	</div>
</body>
</html>