<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Expense Page</title>
</head>
<body>
	<form action="#" th:action="@{/users/{id}/expense/search(id=${userId}, description=${description})}" method="get">	
		<input type="text" id="description" placeholder="Search" th:name="description" />
		<input type="submit" />
	</form>
	<form action="#" th:action="@{/users/{id}/expense/filter(id=${userId}, fromDate=${fromDate}, toDate=${toDate})}" method="get">	
		<input type="date" id="fromDate" th:name="fromDate" th:value="${#temporals.format(fromDate, 'dd-MM-yyyy')}" />
		<input type="date" id="toDate" th:name="toDate" th:value="${#temporals.format(toDate, 'dd-MM-yyyy')}" />
		<input type="submit" />
	</form>
	<table>
		<thead>
			<tr>
				<td>ID</td>
				<td>Amount</td>
				<td>Date</td>
				<td>Description</td>
				<td>Notes</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="expense : ${expenses}">
				<td th:text="${expense.expenseId}"></td>
				<td th:text="${expense.expenseAmount}"></td>
				<td th:text="${#temporals.format(expense.dateOfExpense, 'dd-MM-yyyy')}"></td>
				<td th:text="${expense.description}"></td>
				<td th:text="${expense.notes}"></td>
				<td>
					<a href="#" th:href="@{/users/{id}/expense/{expenseId}/edit(id=${userId},expenseId=${expense.expenseId})}">Edit</a>
					<a href="#" th:href="@{/users/{id}/expense/{expenseId}/delete(id=${userId},expenseId=${expense.expenseId})}">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>
	<a href="#" th:href="@{/users/{id}/expense/create(id=${userId})}">Create Expense</a>
</body>
</html>