<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Expense Page</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<td>ID</td>
				<td>Amount</td>
				<td>Date</td>
				<td>Description</td>
				<td>Notes</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="expense : ${expenses}">
				<td th:text="${expense.expenseId}"></td>
				<td th:text="${expense.expenseAmount}"></td>
				<td th:text="${#temporals.format(expense.dateOfExpense, 'dd-MM-yyyy')}"></td>
				<td th:text="${expense.description}"></td>
				<td th:text="${expense.notes}"></td>
				<td>
					<a href="#" th:href="@{/users/{id}/expense/{expenseId}/edit(id=${userId},expenseId=${expense.expenseId})}">Edit</a>
					<a href="#" th:href="@{/users/{id}/expense/{expenseId}/delete(id=${userId},expenseId=${expense.expenseId})}">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>
	<a href="#" th:href="@{/users/{id}/expense/create(id=${userId})}">Create Expense</a>
</body>
</html>