<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Update Expense</title>
</head>
<body>
	<form action="#" th:action="@{/users/{id}/expense/{expenseId}/save(id=${userId}, expenseId=${expense.expenseId})}" th:object="${expense}" method="post">
		<input type="hidden" th:field="*{user.userId}" th:value="${userId}" />
		<input type="hidden" th:field="${expense.expenseId}" th:value="${expense.expenseId}" />
		<label for="amount">Amount</label>
		<input type="number" id="amount" placeholder="Enter Amount" th:field="*{expenseAmount}" th:value="${expense.expenseAmount}" />
		<label for="dateOfExpense">Date</label>
		<input type="date" id="dateOfExpense" th:field="*{dateOfExpense}" th:value="${#temporals.format(expense.dateOfExpense, 'dd-MM-yyyy')}" />
		<label for="description">Description</label>
		<input type="text" id="description" placeholder="Enter Description" th:field="*{description}" th:value="${expense.description}" />
		<label for="notes">Notes</label>
		<textarea id="notes" placeholder="Enter notes..." th:field="*{notes}" th:value="${expense.notes}">
		</textarea>
		<button type="submit">Submit</button>
	</form>
</body>
</html>